<div class="row justify-content-center">
     <img class="icon" alt="Clothes" src="http://www.myiconfinder.com/uploads/iconsets/256-256-9b11c4309031908f3c2f979686b04e16.png"/>
</div>
<div class="row justify-content-center">
     <p class="titleLabel">Clothes</p>
</div>
<div class="row justify-content-center">
     <p class="titleLabel">{{clothes.header}}</p>
</div>
<div class="row justify-content-center">
     <p class="normalLabel">{{clothes.text}}</p>
</div>
<div class="row justify-content-center">
     <img class="related-logo" alt="SpongeBob Tshirt" src="../../assets/imgs/spongebob.png"/>
</div>
