<div class="row nomargin">
     <div class="col-sm-12 nopadding">
          <ul class="nav nav-tabs nav-justified">
               <li class="tab-margin"><a data-toggle="tab" href="#about"><label data-toggle="tooltip" data-placement="right" title="About Me">{{headers[0]}}</label></a></li>
               <li><a class="tab-margin" data-toggle="tab" href="#front"><label data-toggle="tooltip" data-placement="right" title="Front"><img src="../../assets/imgs/charlhye.png" alt="Logo"/></label></a></li>
               <li><a class="tab-margin" data-toggle="tab" href="#portfolio"><label data-toggle="tooltip" data-placement="right" title="Portfolio">{{headers[1]}}</label></a></li>
          </ul>
     </div>
</div>
