<div class="whole container-fluid">
     <div class="row justify-content-center">
          <p class="sectionLabel">ABOUT ME</p>
     </div>
     <div class="row justify-content-center">
          <p class="normalLabel">---xxx---</p>
     </div>
     <div class="row justify-content-center">
          <p class="normalLabel">{{headtext}}</p>
     </div>
     <div class="row justify-content-center">
          <div class="col-md-3 col-sm-6 col-12">
               <app-movies></app-movies>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
               <app-music></app-music>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
               <app-clothes></app-clothes>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
               <app-food></app-food>
          </div>
     </div>
</div>
