<div class="row justify-content-center">
     <img class="icon" alt="Movies" src="http://www.myiconfinder.com/uploads/iconsets/401bacb05a711c6ceabcd9096b29ee1d-clapper.png"/>
</div>
<div class="row justify-content-center">
     <p class="titleLabel">Movies</p>
</div>
<div class="row justify-content-center">
     <p class="titleLabel">{{movies.header}}</p>
</div>
<div class="row justify-content-center">
     <p class="normalLabel">{{movies.text}}</p>
</div>
<div class="row justify-content-center">
     <img class="related-logo" alt="Shazam Logo" src="https://vignette.wikia.nocookie.net/dccomics/images/8/86/Shazam_New_52_Logo.png/revision/latest?cb=20170930102219&path-prefix=ja"/>
</div>
