<div class="row justify-content-center">
     <img class="icon" alt="Music" src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Music-icon.png"/>
</div>
<div class="row justify-content-center">
     <p class="titleLabel">Music</p>
</div>
<div class="row justify-content-center">
     <p class="titleLabel">{{music.header}}</p>
</div>
<div class="row justify-content-center">
     <p class="normalLabel">{{music.text}}</p>
</div>
<div class="row justify-content-center">
     <img class="related-logo" alt="Shazam Logo" src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c538.png"/>
</div>
